$fontSize: 14pt;
$bgc: rgba(224, 224, 224,.1);
$bgc2: rgba(224, 224, 224,.1);
$textColor: rgba(255,255,255,.8);

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

[hidden] {
    display: none !important;
}

html, body {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    user-select: none;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    display: flex;
    flex-flow: column nowrap;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", sans-serif;
    font-size: $fontSize;
    color: $textColor;
    background-color: #000;

    canvas {
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
        // transform: scale3d(.7, .7, 1);
    }

    #app {
        flex: 1 0 0;
        display: flex;
        flex-flow: column nowrap;
        padding: 10pt;

        > .link {
            flex: 0 0 30pt;
            line-height: 30pt;
            padding: 0 10pt;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            border-radius: 5pt;
            background-color: $bgc;
        }

        main {
            margin-top: 10pt;
            flex: 1 0 0;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;

            .video-download {
                background-color: $bgc;
                display: inline-block;
                border-radius: 5pt;
                min-height: auto;
                margin-top: -50pt;

                display: flex;
                flex-flow: column nowrap;
                transition: all .5s cubic-bezier(0.05, 0.06, 0.34, 0.95);

                .video-download-wrap {
                    margin: 10pt;
                    flex: 1 0 0;
                    overflow-x: hidden;
                    overflow-y: auto;
                    
                    video {
                        flex-grow: 0;
                        flex-shrink: 0;
                        display: block;
                        margin: 0 auto;
                        background-color: $bgc;
                        border-radius: 5pt;
                        opacity: .5;
                        transition: opacity .3s linear;

                        &.playing {
                            opacity: 1;
                        }
                    }

                    .video-title {
                        flex: 0 0 30pt;
                        line-height: 30pt;
                        padding: 0 10pt;
                        margin: 10pt 0;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        border-radius: 5pt;
                        background-color: $bgc;
                    }

                    .download-list {
                        flex: 1 0 auto;
                        border-radius: 5pt;
                        background-color: $bgc;
                        overflow-x: hidden;
                        overflow-y: auto;

                        section {
                            
                            header {
                                height: 30pt;
                                line-height: 30pt;
                                padding: 0 10pt;
                                text-transform: uppercase;
                                font-size: 12pt;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }

                            div {
                                height: 30pt;
                                line-height: 30pt;
                                text-align: center;
                                position: relative;
                                background-color: $bgc;
                                margin-top: 1px;
                                font-size: $fontSize - 1pt;
                                transition: all .2s ease-in-out;
                                padding: 0 60pt;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;

                                &:active {
                                    background-color: rgba(117, 117, 117, .5);
                                }

                                span {
                                    display: inline-block;
                                    width: 40pt;
                                    height: 18pt;
                                    line-height: 18pt;
                                    text-align: center;
                                    border-radius: 5pt;
                                    position: absolute;
                                    top: 50%;
                                    right: 10pt;
                                    transform: translateY(-50%);
                                    font-size: $fontSize - 4pt;
                                    text-transform: uppercase;

                                    &.mp3 {
                                        // background-color: #FF8F00;
                                        background-color: rgba(255,143,0,.5);
                                    }

                                    &.mp4 {
                                        // background-color: #4CAF50;
                                        background-color: rgba(76,175,80,.5);
                                    }

                                    &.webm {
                                        // background-color: #757575;
                                        background-color: rgba(117,117,117,.5);
                                    }

                                    &.v3gp {
                                        // background-color: #00B0FF;
                                        background-color: rgba(0,176,255,.5);
                                    }

                                    &.m4a {
                                        // background-color: #2979FF;
                                        background-color: rgba(41,121,255,.5);
                                    }

                                    &.m3u8 {
                                        // background-color: #B71C1C;
                                        background-color: rgba(183,28,28,.5);
                                    }

                                    &.ogg {
                                        // background-color: #424242;
                                        background-color: rgba(66,66,66,.5);
                                    }
                                }
                            }
                        }
                    }
                }

                .parsing {
                    display: inline-block;
                    padding: 5pt 10pt;
                    color: $textColor;
                }

                &.expand {
                    margin-top: 0;
                    flex: 1 0 0;
                    width: 100%;
                }
            }
        }
    }
}
