<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <!-- inject:/tmp/embed.css -->
    <!-- endinject -->
    <!-- inject:/tmp/vendors.js -->
    <!-- endinject -->
</head>

<body>
    
    <script id="shader-fs" type="x-shader/x-fragment">
        #ifdef GL_ES
            precision highp float;
        #endif
        void main(void) {
            gl_FragColor = vec4(0.2, 0.3, 0.4, 1.0);
        }
    </script>

    <script id="shader-vs" type="x-shader/x-vertex">
        attribute vec3 vertexPosition;
        uniform mat4 modelViewMatrix;
        uniform mat4 perspectiveMatrix;
        void main(void) {
            gl_Position = perspectiveMatrix * modelViewMatrix * vec4(vertexPosition, 1.0);
        }
    </script>

    <canvas id="c"></canvas>
    <div id="app">
        <div class="link">{{ link }}</div>
        <main>
            <div class="video-download" :class="{expand: !!video}">
                <div class="video-download-wrap" v-if="video">
                    <transition name="fade">
                        <div class="video-box"
                            :class="{ playing: video.playing || video.touch }"
                            :style="{ width: vw + 'px', height: vh + 'px' }"
                            @touchstart="video.touch = true;"
                            @touchend="video.touch = false;">
                            <img v-if="video.poster != ''" :src="video.poster">
                            <template>
                                <video controls ref="v" :poster="video.poster">
                                    <source :src="video.url" :type="'video/' + (video.type == 'm3u8' ? 'mp4' : video.type)">
                                </video>
                            </template>
                        </div>
                    </transition>
                    <div class="video-title">
                        {{ video ? video.title : '' }}
                    </div>
                    <div class="download-list">
                        <section v-if="video.sections" v-for="s in video.sections">
                            <header>{{s.title}}</header>
                            <div v-for="v in s.download" @click="download(v);">
                                {{ v.quality && v.quality !== '' ? v.quality : v.title }}
                                <span :class="classes[v.type]">{{v.type}}</span>
                            </div>
                        </section>
                    </div>
                </div>
                <span class="parsing" v-if="!video">Parsing...</span>
            </div>
        </main>
    </div>
    <!-- inject:/tmp/embed.js -->
    <!-- endinject -->
</body>

</html>