<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <!-- inject:/tmp/embed.css -->
    <!-- endinject -->
    <!-- inject:/tmp/vendors.js -->
    <!-- endinject -->
</head>

<body>
    
    <script id="shader-fs" type="x-shader/x-fragment">
        #ifdef GL_ES
            precision highp float;
        #endif
        void main(void) {
            gl_FragColor = vec4(0.2, 0.3, 0.4, 1.0);
        }
    </script>

    <script id="shader-vs" type="x-shader/x-vertex">
        attribute vec3 vertexPosition;
        uniform mat4 modelViewMatrix;
        uniform mat4 perspectiveMatrix;
        void main(void) {
            gl_Position = perspectiveMatrix * modelViewMatrix * vec4(vertexPosition, 1.0);
        }
    </script>

    <canvas id="c"></canvas>
    <div id="app">
        <div class="link">{{ link }}</div>
        <main>
            <div class="video-download expand">
                <div class="video-download-wrap">
                    <transition name="fade">
                        <template v-if="video">
                            <video controls
                                ref="v"
                                :poster="video.poster"
                                :class="{ playing: video.play }"
                                :style="{ width: vw + 'px', height: vh + 'px' }">
                                <source :src="video.url" :type="'video/' + video.type">
                            </video>
                        </template>
                    </transition>
                    <div class="video-title">
                        {{ video ? video.title : '' }}
                    </div>
                    <div class="download-list">
                        <section>
                            <header>Video + Audio:</header>
                            <div>720p<span class="mp4">mp4</span></div>
                            <div>360p<span class="webm">webm</span></div>
                            <div>360p<span class="v3gp">3gp</span></div>
                        </section>
                        <section>
                            <header>High Quality: (Merge Audio online)</header>
                            <div>1080p<span class="webm">webm</span></div>
                            <div>480p<span class="webm">webm</span></div>
                            <div>Base<span class="mp3">mp3</span></div>
                        </section>
                    </div>
                    <span class="parsing">Parsing...</span>
                </div>
            </div>
        </main>
    </div>
    <!-- inject:/tmp/embed.js -->
    <!-- endinject -->
</body>

</html>